{% extends "base.html" %}

{% block content %}
<div class="about-site">
    <br>
    <p>Обнаружил(а) и зашел(а) случайно, немедленно покинь и забудь!</p>
    <p>Сделано для личного пользования и устанолено на Heroku (Developer Free), а там ограничения.</p>
    <p>Если захотел(а) себе такой, зарегистрируйся на <a href="https://railway.app">railway.app</a>, и установи себе свою, отдельную личную копию.
      <a href="https://github.com/rty65tt/oper-reader">[github.com]</a></p>
    <br>

    <ul>Цели:
        <li>Фильтр по комментаторам (для удобства чтения комментариий).</li>
        <li>Убрать рекламу и лишние элементы.</li>
        <li>Увеличить скорость загрузки (Полная загрузка и оторисовка главной страницы оригинального сайта у меня занимает от 15-20 сек., иногда до 1 минуты. Здесь удалось сократить до 2-3 сек.).</li>
        <li>Цветовая схема (перманентно в доработке, минимум ярких цветов, максимум оттенки серого).</li>
    </ul>
  <br><br><br><br>

<!--
  <div>Сообщение (пока не работает, прояви смекалку)</div>
  <form action="/mail/" method="post">

    <div class="send_message">
      <textarea name="message" rows="10"></textarea>
    </div>
    <input type="submit" class="submit" value="Отправить сообщение">

  </form>
</div>

-->
{% endblock %}
