{% extends "base.html" %}

{% block content %}
<div class="about-site">
    <br>
    <p>Обнаружил и зашел случайно, немедленно покинь и забудь!</p>
    <p>В противном случае, не говори никому!</p>
    <br>
    <p>Сайт сделан для личного пользования.</p>
    <ul>Цели:
        <li>Фильтр по комментаторам (для удобства чтения комментариий).</li>
        <li>Убрать рекламу и лишние элементы.</li>
        <li>Увеличить скорость загрузки (Полная загрузка и оторисовка главной страницы оригинального сайта у меня занимает от 15-20 сек., иногда до 1 минуты. Здесь удалось сократить до 2-3 сек.).</li>
        <li>Цветовая схема (перманентно в доработке, минимум ярких цветов, максимум оттенки серого).</li>
    </ul>
  <br><br><br><br>


  <div>Сообщение (пока не работает, прояви смекалку)</div>
  <form action="/mail/" method="post">

    <div class="send_message">
      <textarea name="message" rows="10"></textarea>
    </div>
    <input type="submit" class="submit" value="Отправить сообщение">

  </form>


</div>
{% endblock %}
